h1 {
    color: #4B0082;
    text-align: center;
    border-top-width: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
}
p {
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
}
body {
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
}
a:-webkit-any-link {
    color: #4B0082;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 100px;
}